



@media (min-width: 781px) and (max-width: 1010px) {
     h1 {
        font-size: 8em;    
    }
.btn_church,
.btn_confirm,
.btn_party,
.btn_attendance {
    font-family:  "Poiret One";
    background: #fff;
    color: #222;
    padding: 15px 30px;
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 30px;
    margin: 2%;
    border: .5px solid #000;
}
        
    .places1 h2, .places2 h2 {
        font-size: 8em;
        padding-top: 5%;
    }
    .gifts h2{
        margin-top: 1em;
    font-size: 9em;
        }
.gifts0 h2 {
    font-size: 6em; }
    
    .gifts0 h2 {
        font-size: 6em;
        padding-top: 18%;
        font-family: "Poiret One";
        color: #fff;
        }
    
    h3, .date_description p {
        font-size: 1.8rem;
    }
    
    .party_description p {
        margin: 0 15%;
        font-size: 1.5rem;
    }
    
    section {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;     
    }
    .date,
    .places1, .places2,
    .gifts {
        background-size: cover;
    }
    
    #clock-divi, .clock-section p {
        font-size: 1.5rem;
    }
    
    .container_gifts0 p, .logos0 img
        {
            width: 100%;
            max-width: 100%;
            font-size: 2.8em;
            font-weight: bold;
            display: block;
            margin: 12% auto 1% auto;
            text-align: center;
            align-items: center;
            line-height: 1.2;
        }
    .church_btn, .hotel_room {
        font-weight: bold;
        }
   .gifts0 {
    color: #fff;
    padding: 0rem 0rem;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.4)), url(img/boxes.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    }
    
    .boxes {
        display: none;
    }
    
    .main-nav {
    display: inline-block;
        }  
    
}

@media (min-width: 481px) and (max-width: 780px) {

    body {
        font-size: 1.3em;
        display: block;
        line-height: 1;
            }
    p, .gifts p{ 
            font-size: 2em;
        }
    section { 
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
     
    
    h1 {
        font-size: 5em;
        margin-top: .5em;
    }
        
    .couplename h1 {
            padding-top: 0px;
            text-align: center;
        }

     .gifts0 h2,
        .gifts h2{
        font-size: 3em;
        padding-top: 11%;
        font-family: "Poiret One"
    }
        
    .places1 h2, .places2 h2 {
        font-size: 4em;
        padding-top: .8em;
        }
    
    h3 {
        font-size: 1.3em;
    }
    
    .date_description p {
            font-size: 1.2em;
            line-height: 1.5;
    }
    .date,
    .places1, .places2,
    .gifts {
        background-size: cover;
    }
    
    header {
        background-image: url(img/imagevertical01.png);
        background-size: 100% 40%;
        background-size: contain;
        height: 100vh;
    }
    
    .church_description p,
    .party_description p {
        font-size: 1em;
        text-align: center;
        }
        
    .party_description p {
        margin: 0 1%;
        }
        
    .church_btn, .hotel_room {
        font-size: 1em;
        font-weight: bold;
        }

    .container_gifts0 p, .logos0 img    {
        font-size: 2em;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        width: 100%;
        }

        .boxes img {
            width: 40px;
            height: 50px;
        }
    .header {
        background-size: contain;
    }
    .boxes,     
.clock-section p,
.clock-section,
#clock-divi,
#clock-divi > div, 
#clock-divi div > span, 
.text-clock {
    display: none;
        }     


.gifts0 {
  padding: 0rem 0rem;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.4)), url(img/boxes.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    color: #fff;
}
        
.gifts0 h2, gifts h2 {
    color: #fff;
    font-size: 4em;
    margin-bottom: 12%;
        } 
        
.btn_church,
.btn_confirm,
.btn_party,
.btn_attendance {
    font-family:  "Poiret One";
    background: #fff;
    color: #222;
    padding: 15px 30px;
    font-size: 15px;
    background-color: #fff;
    border-radius: 30px;
    margin-left: 3%;
    border: .5px solid #000;
    margin-bottom: 10px;
    margin-top: 55px;
}
    .btn_party,
    .btn_attendance,
    .btn_confirm {
    margin-top: 10px;    }
        
.main-nav {
    display: none;
        }
        
.mobile-nav-icon {
    display: inline-block;
    text-align: center;
        }
        
.main-nav  {
    float: right;
    margin-top: 10px;
    margin-left: 15px;
        }
.main-nav li {
  display: block;
        }  
        
}

    

  @media (min-width: 300px) and (max-width: 480px) {
    body {
        font-size: 1.3em;
        display: block;
        line-height: 1; 
      }
    h3, p, .gifts p{ 
        font-size: 1.3em;
        }
    section { 
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
     
    h1 {
        font-size: 5em;
        margin-top: -.3em;
    }
        
    .couplename h1 {
            padding-top: 0px;
            text-align: center;
        }
    
     .gifts0 h2, .gifts h2 {
        font-size: 4em;
        padding-top: .5em;
        font-family: "Poiret One"
    }
        
    .places1 h2, .places2 h2 {
        font-size: 4em;
        padding-top: .8em;
    }
    .gifts h2{
        margin-top: 2em;
    font-size: 2.5em;
        }
    .gifts0 h2 {
    font-size: 3em;
    padding-top: 11%;
    }
    .date_description p {
    font-size: 1.2em;
    line-height: 1.5;
        }
        
    .date,
    .places1, .places2,
    .gifts {
        background-size: cover;
    }
    
    header {
        background-image: url(img/imagevertical01.png);
        background-size: 100% 40%;
        background-size: contain;
        height: 100vh;
    }
    
    .church_description p,
    .party_description p {
        font-size: 1em;
        text-align: center;
        }
        
    .party_description p {
        margin: 0 1%;
        }
        
    .church_btn, .hotel_room {
        font-size: 1em;
        font-weight: bold;
        }
        
    .container_gifts0 p, .logos0 img
        {
            width: 100%;
            max-width: 100%;
            font-size: 1.2em;
            display: block;
            margin: 12% auto 8% auto;
            text-align: center;
            align-items: center;
            line-height: 1.2;
        }

        .boxes img {
            width: 40px;
            height: 50px;
        }
    .header {
        background-size: contain;
    }
.boxes,
.clock-section p,
.clock-section,
#clock-divi,
#clock-divi > div, 
#clock-divi div > span, 
.text-clock {
    display: none;
        }     
        
.gifts0 {
  padding: 0rem 0rem;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.4)), url(img/boxes.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    color: #fff;
}
        
.gifts0 h2 {
    color: #fff;
        } 
        
.btn_church,
.btn_confirm,
.btn_party,
.btn_attendance {
    font-family:  "Poiret One";
    background: #fff;
    color: #222;
    padding: 15px 25px;
    font-size: .9em;
    background-color: #fff;
    border-radius: 30px;
    border: .5px solid #000;
    margin: 3% auto 2% auto;
}
    .btn_party,
    .btn_attendance,
    .btn_confirm {
    margin-top: 10px;    }
        
.main-nav {
    display: none;
        }
        
.mobile-nav-icon {
    display: inline-block;
    text-align: center;
        }
        
.main-nav  {
    float: right;
    margin-top: 10px;
    margin-left: 15px;
        }
.main-nav li {
  display: block;
        }
        
}