/*Agregar el html!!!*/
body, html{
	width: 100%;
	height: 96%;
}

body {
	font-family: 'Montserrat', sans-serif;	
}

hr {
	max-width: 90px;
	border-width: 5px;
	border-color: purple;
}

/*1 == complete color
.5 transparent-ish
*/
.faded{
  color: rgba(255, 255, 255, 1); 
}

/*aqui va la img background!!!*/
header.principal{
	background-position: center;
	background-image: url(laptop-dark-back.jpg);
	background-size: cover;
	height: 100%;
/*	 just adds space between navbar and img margin-top: 20px;*/
}

header.principal hr{
	margin-top: 210px;
/*	margin-bottom: 130px; puts the line upper
*/}

header.principal h1{
	font-size: 2rem;
	margin-top: -80px;
/*	margin-top: in negative puts the title upper*/
/*	margin-bottom: 130px;*/
}

.btn{
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 300px;
	font-family: 'Montserrat', sans-serif;	
}


.btn-xl {
	padding: 1rem 2rem;
}

.btn-primary{
	background-color: #F05F44;
	border-color: #F05F44;
}

.btn-primary:hover {
	background-color: #ee4b08;
	border-color: #ee4b08;
	border-width: 5px;
}
/*Classes for drawing dots in Kinder
Natural tags are born naturally naked

when you only use 1 element, has a price tag #Capitalism
*/
